*{
    margin: 0;
    padding: 0;

}
body{
    background-color: aqua;
    }
.cards{
    width: 20%;
    display: inline-block;
    background-color: grey;
    border-radius: 5px;
    margin: 30px;

}
.cards:hover{
    box-shadow: 2px 2px 10px black;
}
.image img{
    width: 100%;
    border-top-right-radius:5px ;
    border-top-left-radius: 5px;
    
}
.title{
    font-family: algerian;
    text-align: center;
    padding: 5px;

}
.title1{
    text-align: center;
}
.des{
    text-align: center;
    padding: 4px;
}
button{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    
}